body {
    font-family: 'Arial', sans-serif;
    background-color:burlywood;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


header {
    background-color: #ffa500;
    padding: 20px;
    text-align: center;
    color: white;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.contenedor-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: calc(33.3333% - 20px);
    margin-bottom: 20px;
}

.item:hover {
    transform: scale(1.05);
}

.img-item {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.precio-item {
    font-size: 18px;
    font-weight: bold;
    color: #e44d26;
    margin-bottom: 10px;
}

.boton-item {
    background-color: #e44d26;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.boton-item:hover {
    background-color: #d33a1c;
}

.carrito {
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.3333% - 20px);
}

.header-carrito {
    background-color: #e44d26;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.carrito-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.carrito-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px;
    position: relative;
}

.carrito-item img {
    max-width: 100%;
    border-radius: 8px;
}

.carrito-item-detalles {
    text-align: left;
    margin-top: 10px;
}

.carrito-item-titulo {
    font-size: 16px;
    font-weight: bold;
}

.selector-cantidad {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.fa-minus,
.fa-plus {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.carrito-item-precio {
    font-size: 14px;
    margin-top: 5px;
}

.btn-eliminar {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e44d26;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-eliminar:hover {
    background-color: #d33a1c;
}

.carrito-total {
    background-color: #e44d26;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 20px;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn-pagar {
    background-color: #fff;
    color: #e44d26;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-pagar:hover {
    background-color: #e44d26;
    color: white;
}